@model CatalogViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>商品一覧</h2>

<div class="row">
    @foreach (var commodity in Model.Commodities)
    {
        <form method="post" asp-action="Buy" class="buy-commodity">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-4">
                        @if (commodity.Icon != null)
                        {
                            <img src="@Html.DisplayFor(modelItem => commodity.Icon)" />
                        }
                    </div>
                    <div class="col-sm-8">
                        <h2>@Html.DisplayFor(modelItem => commodity.Name)</h2>
                        <p>@Html.DisplayFor(modelItem => commodity.PriceString)</p>
                        <button type="submit" class="btn btn-primary">購入</button>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="BuyingId" value="@commodity.Id" />
        </form>
    }
</div>
@section Scripts {
    @await Html.PartialAsync("BuyingScriptPartial");
}
